In [ ]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [7]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
# add(3,4)
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [8]:
def add(a,b):
    return a+b
a = add(3,4)
print(a)
# add(3,4)

7

In [ ]:
# 입력값도 결과값도 없는 함수

def say():
    print('Hi')
    
say()

Hi

In [ ]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

# print("가장 큰 수는 %d입니다." %(max(20,1,30)))
max(10,20,30)

30

In [ ]:
def math(x, y, z):
    if z == '*':
        return x*y
    elif z== '/':
        return x/y
    elif z== '+':
        return x+y
    elif z== '%':
        return x%y
    elif z== '^':
        return x**y
    elif z== '-':
        return x-y
    elif z== '//':
        return x//y
    else:
        return

# print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))
math(10,2,'//')

5

In [ ]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(3,3)

'3 equal 3'

In [ ]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 * 를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add

add_many(1,2,3,4,5,6,7,8,9,10)

55

In [ ]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈,곱셈 연산을 수행하세요.
def add_mul(choice, *args):
    
    
add_mul('add', 1,2,3,4,5)

In [ ]:
def add_mul(choice, *args):
    if choice == '+':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == '*':
        result = 1
        for i in args:
            result *= i
        return result
    else :
        print('수행할 수 없는 연산입니다.')

add_mul('*',1,2,3,4,5)
add_mul('+',1,2,3,4,5)

15

In [ ]:
# [과제] 뻴셈, 나눗셈 멀티 계산 함수를 작성
# ('sub', 2,4,6,8,10)
# ('div', 2,4,6,8,10)

In [3]:
def sub_div (choice, *args) :
    if choice == "sub":
        result = args[0]
        for i in args[1:] : 
            result -= i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:] :
            if i == 0:
                return print("오류")
            result /= i
        return result 

print(sub_div('sub', 2,4,6,8,10))
print(sub_div('div', 2,4,6,8,10))

-26
0.5

In [ ]:
# 함수 안에서 선언된 변수의 효력 범위
a = 1
def vartest(a):    
    a = a + 1
    
print(vartest(a))
print(a)

None
1

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용

a = 1
def vartest(a):
    a =  a+1
    return a
a = vartest(a)
print(a)

2

In [ ]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

2

In [9]:
# 현재 작업 폴더
%pwd

'C:\\hmkd1\\m1_programming'

In [13]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 1E31-6082

 C:\hmkd1\m1_programming 디렉터리

2023-03-09  오후 03:10    <DIR>          .
2023-03-09  오후 03:10    <DIR>          ..
2023-03-09  오후 02:48    <DIR>          .ipynb_checkpoints
2023-03-09  오후 01:47            90,666 p1_기초.ipynb
2023-03-08  오전 09:59           147,052 p1_기초_org.ipynb
2023-03-09  오전 08:34           338,933 python_codingTest.ipynb
2023-03-09  오후 12:37           127,038 python_기초.ipynb
2023-03-09  오후 02:04             7,102 python_날짜.ipynb
2023-03-09  오후 02:44            16,506 python_예외처리.ipynb
2023-03-09  오전 08:34            47,246 python_정규표현식.ipynb
2023-03-09  오후 02:48            68,324 python_클래스.ipynb
2023-03-09  오후 03:08            45,243 python_함수.ipynb
2023-03-09  오후 02:39        23,832,000 python_함수응용.ipynb
2023-03-09  오후 03:10                 0 test1.txt
2023-03-07  오후 04:25           338,933 과제.ipynb
2023-03-08  오전 10:55            20,241 과제_정규표현식.ipynb
2023-03-08  오전 11:58             5,051 날짜_연습.ipynb
2023-03-08  오전 10:55            16,918 예외처리.ipynb
2023-03-08  오전 10:55            47,246 정규표현식.ipynb
2023-03-08  오전 10:55            68,340 클래스.ipynb
2023-03-08  오후 12:00            45,854 함수.ipynb
2023-03-08  오후 12:01        23,834,189 함수_응용.ipynb
              19개 파일          49,096,882 바이트
               3개 디렉터리  55,549,865,984 바이트 남음

In [12]:
# 파일 읽고 쓰기
f = open('test1.txt','w')
f.close()

In [14]:
f = open('test1.txt','w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [15]:
f = open('test1.txt','r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [16]:
f = open('test1.txt', 'r')
for i in range(10):
    line = f.readline()
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [17]:
f = open('test1.txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [18]:
# f.read()는 파일 내용 전체를 문자열로 반환
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [19]:
f = open('test1.txt', 'a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [20]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [21]:
# with문과 같이 사용
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [22]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [23]:
with open('test2.txt','w') as f:
      for i in range(1,11):
          data = f'{i}번째 줄입니다.\n'
          f.write(data)

In [24]:
with open('test2.txt','a') as f:
      for i in range(11,16):
          data = f'{i}번째 줄입니다.\n'
          f.write(data)

In [25]:
with open('test2.txt','r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

내장함수, 외장함수

https://codedrive.tistory.com/91

In [ ]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))

3
False
True
A

In [ ]:
sum = lambda a,b:a+b
sum(3,4)

7

In [ ]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

7
12

In [ ]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [ ]:
list(range(5))
list(range(1,6))
list(range(1,10, 2))
list(range(0, -10, -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [ ]:
print(divmod(7,3))

(2, 1)

In [ ]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']):
    print(i,name)

0 james
1 tom
2 susan

In [ ]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

3

In [26]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test.txt', 'wb')
data = {1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [27]:
import pickle
f = open('test.txt','rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [30]:
import os
os.environ['PATH']

'C:\\Users\\h\\anaconda3;C:\\Users\\h\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\h\\anaconda3\\Library\\usr\\bin;C:\\Users\\h\\anaconda3\\Library\\bin;C:\\Users\\h\\anaconda3\\Scripts;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Users\\h\\anaconda3;C:\\Users\\h\\anaconda3\\Library\\bin;C:\\Users\\h\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\h\\anaconda3\\Scripts;C:\\Users\\h\\AppData\\Local\\Microsoft\\WindowsApps;'

In [34]:
%pwd

'C:\\hmkd1\\m1_programming'

In [31]:
# 폴더변경
os.chdir('C:\\hmkd1')

In [33]:
os.chdir('C:\\hmkd1\\m1_programming')

In [35]:
os.getcwd()

'C:\\hmkd1\\m1_programming'

In [38]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 1E31-6082

 C:\hmkd1\m1_programming 디렉터리

2023-03-09  오후 04:16    <DIR>          .
2023-03-09  오후 04:16    <DIR>          ..
2023-03-09  오후 02:48    <DIR>          .ipynb_checkpoints
2023-03-09  오후 03:38                18 foo.txt
2023-03-09  오후 01:47            90,666 p1_기초.ipynb
2023-03-08  오전 09:59           147,052 p1_기초_org.ipynb
2023-03-09  오전 08:34           338,933 python_codingTest.ipynb
2023-03-09  오후 12:37           127,038 python_기초.ipynb
2023-03-09  오후 02:04             7,102 python_날짜.ipynb
2023-03-09  오후 02:44            16,506 python_예외처리.ipynb
2023-03-09  오전 08:34            47,246 python_정규표현식.ipynb
2023-03-09  오후 02:48            68,324 python_클래스.ipynb
2023-03-09  오후 04:14            43,574 python_함수.ipynb
2023-03-09  오후 02:39        23,832,000 python_함수응용.ipynb
2023-03-09  오후 04:07                40 test.txt
2023-03-09  오후 03:39               261 test2.txt
2023-03-09  오후 03:30               261 test_new.txt
2023-03-07  오후 04:25           338,933 과제.ipynb
2023-03-08  오전 10:55            20,241 과제_정규표현식.ipynb
2023-03-08  오전 11:58             5,051 날짜_연습.ipynb
2023-03-08  오전 10:55            16,918 예외처리.ipynb
2023-03-08  오전 10:55            47,246 정규표현식.ipynb
2023-03-08  오전 10:55            68,340 클래스.ipynb
2023-03-08  오후 12:00            45,854 함수.ipynb
2023-03-08  오후 12:01        23,834,189 함수_응용.ipynb
              22개 파일          49,095,793 바이트
               3개 디렉터리  55,350,808,576 바이트 남음

In [37]:
import os
os.rename('test1.txt','test_new.txt')

In [39]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('C:\\hmkd1\\m1_programming/*.txt')

['C:\\hmkd1\\m1_programming\\foo.txt',
 'C:\\hmkd1\\m1_programming\\test.txt',
 'C:\\hmkd1\\m1_programming\\test2.txt',
 'C:\\hmkd1\\m1_programming\\test_new.txt']

In [11]:
#[과제] 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)
list=[0,1,2,3,4,5,6]
# del list[2] # 인덱스
list.remove(2) # 값
# list.pop(2)
print(list)

[0, 1, 3, 4, 5, 6]

In [12]:
#[과제]  내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.
list = [0,1,2,3,4,5,6]
del list[:]
print(list)

[]

In [ ]:
#[과제]  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [15]:
list=[1,2,3,4,5]
list_n=[]
x=lambda a:a**2  

for i in list:          # [1,2,3,4,5] -> [1,4,9,16,25]
    list_n.append(x(i))
   
del(list[2:])           # [1,2,3,4,5] -> [1,2]

print(list_n)         #함수호출
print(list)

[1, 4, 9, 16, 25]
[1, 2]

In [1]:
x=lambda a:a**2
lst = [x(i) for i in range(1,6)]
print(lst,'\n')

lst2 = [1,2,3,4,5]
filtered_list = filter(lambda a: (a<3), lst2)
print(list(filtered_list))

[1, 4, 9, 16, 25]

[1, 2]

In [3]:
#[과제]  [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

list1 = [1,-3,2,0,-5,6]   
        
print(list(filter(lambda x: x > 0, list1)))

[1, 2, 6]

In [5]:
def even(arr):
    result=[]
    for i in arr:
        if i>0:
            result.append(i)
    return result
print(even([1,-3,2,0,-5,6]))

[1, 2, 6]

In [ ]:
#[과제] 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [7]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

ab = list(zip([1,2,3],[4,5,6]))
print(ab)
                        
abc = list(zip([1,2,3],[4,5,6], [7,8,9]))
print(abc)

alp_1 = list(zip('abc', 'def'))
print(alp_1)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [6]:
lista=[[1,2,3],[4,5,6],[7,8,9]]
listb=sum(lista,[])
lista_n=[]

for k in range(len(lista[0])):
    tup1=tuple(listb[k::3])
    lista_n.append(tup1)

print(lista_n)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [8]:
#[과제] 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.
def sum(mun):
    print(f"합: {eval(mun)}")    #입력된 문자열이 연산이 가능한 형태면 연산해 줌
    print(f"평균: {(eval(mun)/len(mun.split('+'))):0.2f}")

###################################################

mun=input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ")
mun_n=mun.replace(',','+')    #1,2,3 -> 1+2+3

sum(mun_n)

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): 1,2,3
합: 6
평균: 2.00

In [9]:
def average(*args):
    x=0
    for i in args:
        x=(x+i)
    result=x/len(args) 
    return result

r=average(1,2,3)    
print(r)

2.0

#### sort, sorted 모두 key, reverse 매개변수를 갖고 있다.
- reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [10]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key = lambda x:len(set(x)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [12]:
#[과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요,
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s_list=list(strings)
s_list.sort(key=lambda x:len(set(x)))     #기본 정렬(오름차순)

print(s_list[::-1])     #거꾸로 출력(내림차순으로 나오게)

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [14]:
#[과제]  url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')
x[2]

'news.naver.com'

In [15]:
#[과제] url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do=url.find('?')
print(url[do+1:])   #쿼리문 전체

qr=[]
qr=url[do+1:].split('&')   #각 '변수=값' 분리
print(qr)

mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [16]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp = url.split('?')
queries = tmp[1].split('&')
for query in queries:
    print(query)

mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601